.breach-report-wrapper {
  margin: 24px;
}
.breach-report-title {
  font-weight: 600;
  font-size: 16px;
}
.breach-report-list {
  list-style-type: none;
}
.breach-report-row {
  color: red;
  padding-left: 8px;
}
