@import "../../../../css/consts.scss";

.checkbox-wrapper input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkbox-label {
  cursor: pointer;
  width: 32px;
  height: 16px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  span {
    position: absolute;
    top: 1px;
    width: 140px;
    left: 40px;
    color: $colorButton;
    user-select: none;
  }
}

.checkbox-label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 1px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .checkbox-label {
  background: $colorButton;
}

input:checked + .checkbox-label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.checkbox-label:active:after {
  // width: 50px;
}
