$colorGrey100: #f8f8f8;
$colorGrey300: #e1e1e1;

$colorGrey900: #484646;

$colorActive: #019ae6;
$colorReportAccent: #fff500;

$colorWarning: #ff3d00;
$colorOk: #417d52;
$colorSpam: #d1a507;

$colorBackground: white;
$colorLowerBackground: #f1f1f1;
$colorHeader: #41697d;

$colorTextRegular: #636363;

$colorTitle: #41697d;
$colorButton: #25749c;
