$colorGrey100: #f8f8f8;
$colorGrey300: #e1e1e1;

$colorActive: #019ae6;
$colorReportAccent: #ffc42c;

$colorWarning: #ee0202;

$colorBackground: white;
$colorLowerBackground: #f1f1f1;
$colorHeader: #41697d;

$colorTextRegular: #636363;
